<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns:jsp="http://java.sun.com/JSP/Page"
		  xmlns:c="http://java.sun.com/jsp/jstl/core"
		  xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
		  xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
		  xmlns:nav="urn:jsptagdir:/WEB-INF/tags/nav"
		  xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
		  xmlns:form="http://www.springframework.org/tags/form"
		  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt">

    <jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

    <c:set var="projectEditor" value="${command.context.loginUser}" />
    <c:set var="project" value="${command.project}" />
    <layout:paneLayout command="${command}" requPath="${requPath}" showPageOptions="${true}" noSidebar="${true}" activeTab="project" pageTitle="${title}">
        <jsp:attribute name="headerExt">
               <script type="text/javascript" src="${resdir}/javascript/actions/editProjects.js"><!-- keep me --></script>
        </jsp:attribute>

        <jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.project" formAction="${relativeUrlGenerator.getProjectUrlByProject(project)}" formInputName="tag">
				<jsp:attribute name="pathPart">
					<a href="${relativeUrlGenerator.getProjectUrlByProject(project)}"><c:out value='${project.title}'/></a>
				</jsp:attribute>
			</parts:search>
		</jsp:attribute>

        <jsp:attribute name="breadcrumbs">
			<nav:breadcrumbs>
				<jsp:attribute name="crumbs">
					<nav:projectcrumb project="${project}" active="${true}"/>
				</jsp:attribute>
			</nav:breadcrumbs>
		</jsp:attribute>


        <jsp:attribute name="content">
            <div class="content row">
        			<!-- title -->
				<div class="content-heading">
				<legend class="project-subTitle">
					<fmt:message key="project.actions.edit" />
					<c:out value=" ${project.title}" />
				</legend>
				</div>
				<div class="col-md-9">
				<form:form cssClass="form-horizontal" method="post" action="/editProject?ckey=${ckey}">
					<!-- edit internalId -->
					<input type="hidden" name="projectIdToUpdate" value="${command.projectIdToUpdate}" />

					<!-- edit title -->
					<bsform:input path="project.title" labelColSpan="3" inputColSpan="9" noHelp="${true}" required="${true}" />
					<!-- edit subtitle -->
					<bsform:input path="project.subTitle" labelColSpan="3" inputColSpan="9" noHelp="${true}" />
					<!-- edit description -->
					<bsform:textarea id="project.description" path="project.description" labelColSpan="3" inputColSpan="9" noHelp="${true}" />

					<!-- edit start date -->
					<bsform:dateInput path="project.startDate" value="${project.startDate}" labelColSpan="3" inputColSpan="9" noHelp="${true}" required="${true}"  />
					<!-- edit end date -->
					<bsform:dateInput path="project.endDate" value="${project.endDate}" labelColSpan="3" inputColSpan="9" noHelp="${true}" required="${true}" />
					<!-- edit type/founding -->
					<bsform:input path="project.type" labelColSpan="3" inputColSpan="9" noHelp="${true}" />

					<bsform:input path="project.sponsor" labelColSpan="3" inputColSpan="9" noHelp="${true}" />

					<!-- edit budget-->
					<bsform:input path="project.budget" labelColSpan="3" inputColSpan="9" noHelp="${true}" />

					<!-- TODO autocomplete for project -->
					<bsform:input path="project.parentProject.internalId" labelColSpan="3" inputColSpan="9" />

					<p class="clearfix"><!--  --></p>
					<div class="col-sm-offset-3 ">
						<div class="form-group">
							<fmt:message var="saveButton" key="save" />
							<bsform:button type="submit" name="save" style="primary" size="defaultSize" value="${saveButton}" />
						</div>
					</div>
				</form:form>
				</div>
			</div>
        </jsp:attribute>
    </layout:paneLayout>
</jsp:root>