body {
  font-family: Arial, sans-serif;
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

a,a:link,a:visited {
  color: #069;
  text-decoration: none;
}

a:hover {
  color: #f00;
  text-decoration: none;
}

h1,
div.h1 {
  font-family: Verdana, Arial, sans-serif;
  font-size: 120%;
  color: #334d55;
  margin: 6px 0px 0px 0px;
  padding: 0px 0px 0px 10px;
  float: left;
}

h2 {
  font-size: 114%;
  color: #069;
  margin: 6px 10px 10px 0px;
  padding: 0px;
}

h3,.sidebar_h {
  font-size: 105%;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 105%;
  font-weight: normal;
  font-style: italic;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h5 {
  font-size: 100%;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

img {
  border: 0px;
  margin: 0px 2px 0px 2px;
  padding: 0px;
}

ul {
  padding: 0px;
  list-style: none;
  margin: 5px 0px 5px 0px;
}

td {
  vertical-align: top;
}

.errmsg {
  color: #f00;
  font-size: 80%;
}

.error {
  color: #ff6600;
}


td.expl_s,td.expl {
  font-size: 80%;
}

td.expl {
  text-align: right;
  font-weight: bold;
}

td.expl2 {
  text-align: right;
  width: 10%;
  color: #aaa;
  padding: 0px 1em 0.5em 0px;
}

td.chunkybib {
  font-size: 80%;
}

.boxed {
  border: 1px solid #ccc;
  background-color: #eee;
  margin: 1em 0em 1em 0em;
  padding: 0.5em;
}

.bibentry {
  font-family: monospace;
  font-size:90%;
}

div.bibentry {
  margin: 0px 0.5em 0px 20px;
  padding: 0px;
}

.smalltext {
  font-size: 80%;
}

.sidebar_h {
  font-weight: bold;
}


.floatul li {
  margin-left: .5em;
  display: inline;
  font-size: 80%;
}


.toggler {
  margin-right: .3em;
  cursor: pointer;
  color: #069;
}

#groups li {
  list-style: square;
  margin: 0em 0em 0em 2em;
  padding: .5em 0em .5em 0em;
}

#groupmembers li {
  display: inline;
  font-size: 90%;
  margin-right: 1em;
}




#sidebar {
  float: right;
  width: 25%;
  margin: 0px;
  padding: 5px;
  background-color: #eee;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}



#bookbox,
#scrapebox,
#bibbox,
.bookbox {
  margin: 5px 1% 2% 1%;
  width: 45%;
  float: left;
  padding-right: 5px;
}

.infobox {
  margin: 5px 1% 2% 1%;
  width: 45%; 
  padding-right: 5px;
}

#outer,#general,#copytags {
  float: left;
  width: 70%;
}

#general,#copytags,#general_fixed {
  margin: 5px 10px 2% 10px;
  padding-right: 5px;
}

#general_fixed {
  float: left;
  width: 700px;
}

#itembox {
  margin: 5px 10px 5px 10px;
  clear: both;
}

#search {
  float: right;
  margin: 6px 0px 0px 0px;
  padding: 0px;
}

#specialsearch {
  display: inline;
  margin: 6px 0px 0px 0px;
  padding: 0px;
}

#welcomeTop {
  clear: both;
  font-size: 75%;
  color: #aaa;
  padding: 3px 0px 9px 0px;
  margin: 0px 0px 0px 12px;
}

.smallform {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.oldentry {
  color: #069;
  display: none;
}

.reqinput {
  background-color: #e5f3fa;
}

input [type=text],input [type=password],input [type=file],textarea,select
  {
  border: 1px solid #069;
  padding: 2px;
  font-family: monospace;
  font-weight: normal;
}

input [type=submit],input [type=button],input [type=reset] {
  border: 1px solid #069;
  background-color: #eee;
  padding: 2px;
}

h1 input [type=text],h1 select {
  font-size: 83.33%;
}

td.tleft input [type=text],td.tleft input [type=password] {
  font-size: 125%;
}

li.uploadinfo {
  margin-bottom: 1.5em;
  line-height: 1em;
  display: block;
  font-size: 80%;
}

#tnav {
  width: 100%;
  background-color: #eee;
  font-weight: bold;
  font-size: 80%;
  clear: both;
  margin: 0px;
  padding: 0px 10px 0px 10px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.tleft {
  text-align: left;
  padding: 0px;
}

.tright {
  text-align: right;
  padding: 0px;
}

#bibtex, #bookmark, ul.bblist {
  clear: both;
  margin-top: 1em;
}

.nextprev,.actions,.listh span {
  font-size: 80%;
  color: #aaa;
  padding-top: 2px;
}

.nextprev {
  float: left;
}

.actions {
  float: right;
}

.kiste {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  clear: left;
}

.listh span {
  margin-right: .5em;
}

.listh {
  margin: 0px .5em .5em 0px;
  padding: 0px;
}

h2.listh {
  float: left;
}

.listh img {
  margin: 0px;
  margin-bottom: -3px;
}

.bibextra {
  font-size: 80%;
  color: #aaa;
}

#footer {
  clear: both;
  border-top: 1px solid #ccc;
  font-size: 75%;
  color: #aaa;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px 2px 0px;
}

#copytag {
  color: #069;
  font-size: 100%;
  text-align: justify;
}

#copytag li {
  display: inline;
  cursor: pointer;
}

#sidebar ul {
  list-style: none;
  margin: 5px 0px 5px 0px;
  padding: 0px;
}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#sidebar li {
  border-bottom: 1px solid #ccc;
}

/* fix for browsers that don't need the hack */
html>body #sidebar li {
  border-bottom: none;
}

.tagcloud {
  text-align: justify;
  font-size: 70%;
}

.tagcloud li {
  display: inline;
  padding: 0em .1em 0em .1em;
  line-height:1.8em;
}

.tagcloud a,.taglist a {
  color: #069;
}

.tagcloud a:hover, .taglist a:hover {
  color: #f00;
  text-decoration: none;
}

.taglist {
  font-size: 70%;
}

.taglist li {
  display: block;
}

.options {
  font-size: 80%;
  cursor: pointer;
}

.tagone a {
  color: #3399cc;
}

.tagten a {
  font-size: 140%;
}

li.bm {
  margin-bottom: 1.5em;
  line-height: 1em;
  display: block;
}

.bmtitle {
  font-size: 100%;
  font-weight: bold;
}

.bmdesc {
  font-size: 70%;
  color: #aaa;
}

.bmmeta {
  color: #555;
  font-size: 70%;
}

.bmtags {
/*  font-weight:bold; */
}

.bmfoot {
  color: #aaa;
  font-size: 70%;
  border-bottom: 1px solid #eee;
  clear: left;
}

.bmfoot:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.bmaction {
  float:left;
}

.bmrating {
  float:right;
}


.bmown {
  border-left: 3px solid #aaa;
  padding-left: 0.3em;
}

.action {
  font-size: 80%;
  background-color: #eee;
}

.tags_first {
  font-size: 170%;
  line-height: 1.5em;
}

.tags_second {
  font-size: 150%;
  line-height: 1.4em;
}

.tags_third {
  font-size: 130%;
  line-height: 1.3em;
}

.tags_fourth {
  font-size: 110%;
  line-height: 1.2em;
}

.tags_fifth {
  font-size: 90%;
  line-height: 1.1em;
}

td.upperconcept {
  text-align: right;
}

.box_upperconcept {
  font-size: 80%;
  line-height: 1.2em;
  text-indent: -3em;
  margin-left: 3em;
}

.box_lowerconcept {
  display: inline;
  font-size: 90%;
  line-height: 1.1em;
}

.box_arrow {
  display: inline;
  font-size: 80%;
  line-height: 1.2em;
}

.box_lowerconcept_elements {
  display: inline;
}

.box_pic {
  display: inline;
}

.tagtextfield {
  display: inline;
}

.recommended {
  display: inline;
  cursor: pointer;
}

/* FAQ */
ul.faq {
  font-size: 95%;
  padding: 3px 0 15px 12px;
}

li.faq {
  list-style-type: disc;
  padding: 3px 0 15px 3px;
  list-style-position: outside;
}

li.faq p {
  margin: 5px 0 0 0;
  font-size: 90%;
}

li.faq dt {
  margin: 5px 0 0 0;
  font-size: 90%;
}

li.faq dd {
  margin: 0 0 0 50px;
  font-size: 90%;
}

.einrueckung1 {
  margin-left: 1em;
}

.einrueckung2 {
  margin-left: 7.5em;
}

.einrueckung3 {
  margin-left: 0.5em;
}

.autocomplete {
  border: 1px solid #006699;
  background-color: white;
  cursor: pointer;
}

/* tooltip */
span.info{
  position:relative;
  z-index:24;
  background-color:#eee;
  border:1px solid #ccc;  
  color:#000;
}
span.info:hover {
  z-index:25; 
}
span.info span{
  display: none;
}
span.info:hover span{
  display:block;
  position:absolute;
  top: 2em;
  left: 2em;
  width: 50em;
  border:1px solid #ccc;
  background-color:#eee;
  color:#000;
  padding:5px;
}

/* advanced search */
#searchbox { 
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  width:70%;
  float:left;  
}
.scroller {
	height:250px;
	width:100%;
	font-family: Arial, Helvetica, sans-serif;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;	
	background-color: #fff;
	border: 1px solid #069;
}
.title_search {
	font-size:70%;
	font-weight:bold;
	color: #069;	
}
.result_table {
	border-spacing:0px;
	width:100%;
}
.result_table td {
	border-bottom: 1px solid #BBBBBB;
}
.result_table tr:hover {
	background-color: #EEEEEE;	
	cursor:pointer;	
}

/* tabs */
#tab ul {	
	list-style: none;
	padding: 0;
	margin: 0;				
}	
#tab li {
	float:left;
	border: 1px solid #BBB;
	border-bottom-width: 0;
	margin: 0;
}	
#tab a {
	text-decoration: none;
	display: block;
	background: #EEE;
	padding: 3px;
	width: 7em;
	text-align: center;
	font-size: 80%;		
}
#tab a:hover {
	background-color: white; 
}
#tab #selected {
	border-color: #069;
}
#tab #selected a {
	position: relative;
	top: 1px;
	background: white;
	color: #069;
}
#tab_content {
	border: 1px solid #069;
	clear: both;
	padding: 0.5em 1em;			
}	
#tab_content hr {
	border: 0px;
	border-top: 1px solid #AAA; 
}

/* Drop Down Menu */

.dropmenudiv{
	position:absolute;
	top: 0;
	border: 1px solid #ccc; 
	background-color: #eee;
	border-bottom-width: 0;
	line-height:18px;
	z-index:100;
	visibility: hidden;
	padding-left: 7px;
	padding-right: 7px;
}

.dropmenudiv a{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	font-weight: bold;
	color: #069;
}


* html .dropmenudiv a{ /*IE only hack*/
	width: 100%;
}

.dropmenudiv a:hover{
	color: red;
}

/* full screen (without tagclouds) */
#fullscreen {
	margin: 5px 10px 2% 10px;  	
}

/* 3 columns on page */
.threecolbox {
  margin: 5px 1% 2% 1%;
  width: 30%;
  float: left;
  padding-right: 5px;
}

.openid {
	background:#FFFFFF url(/resources/image/openid.png) no-repeat scroll 0pt 50%;
	color:#000000;
	padding-left:18px;
}