<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:bib="urn:jsptagdir:/WEB-INF/tags/resources/bibtex"
	xmlns:bm="urn:jsptagdir:/WEB-INF/tags/resources/bookmark"
	xmlns:bibgs="urn:jsptagdir:/WEB-INF/tags/resources/goldstandardpublication"
	xmlns:buttons="urn:jsptagdir:/WEB-INF/tags/resources/actionbuttons"
	> 
	
	<!--+
		|
		| This view renders only a list of posts - without any surrounding elements. 
		|
		+-->
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
		
	<!--+
		| alternating background color
	 	+-->
	<c:set var="additionalItemClasses" value="odd"/>


	<!--+
		|
		| bookmark posts
		|
		+-->
	<c:set var="bookmarkList" value="${command.bookmark.list}" />
	<c:if test="${not empty bookmarkList}">
	
		<c:forEach var="post" items="${bookmarkList}">
			<!--+
				| alternating background color
			 	+-->
			<c:set var="additionalItemClasses" value="${additionalItemClasses eq 'odd' ? 'even' : 'odd'}"/>
			
			<!--+
				| render one post 
				+-->
			<rc:post post="${post}" resourceType="${command.bookmark.resourcetype}" otherPostsUrlPrefix="/url/" loginUserName="${command.context.loginUser.name}" additionalItemClasses="${additionalItemClasses}">
				<jsp:attribute name="title">     <bm:title      post="${post}"/></jsp:attribute>
				<jsp:attribute name="desc">	     <bm:desc       post="${post}"/></jsp:attribute>
				<jsp:attribute name="actions">   <buttons:actions post="${post}" loginUserName="${command.context.loginUser.name}" resourceType="bookmark"/></jsp:attribute>
				<jsp:attribute name="documents"> <bm:documents  post="${post}"/></jsp:attribute>
			</rc:post>
		</c:forEach>
	</c:if>

	<!--+
		|
		| publication posts
		|
		+-->
	<c:if test="${not empty command.bibtex.list}">
	
		<c:forEach var="post" items="${command.bibtex.list}">
			<!--+
				| alternating background color
			 	+-->
			<c:set var="additionalItemClasses" value="${additionalItemClasses eq 'odd' ? 'even' : 'odd'}"/>
			
			<!--+
				| render one post 
				+-->
			<rc:post post="${post}" resourceType="${command.bibtex.resourcetype}" otherPostsUrlPrefix="/bibtex/" loginUserName="${command.context.loginUser.name}" additionalItemClasses="${additionalItemClasses}">
				<jsp:attribute name="title">
					<c:choose>
						<c:when test="${empty post.user.name}"><bibgs:title post="${post}"/></c:when>
						<c:otherwise><bib:title post="${post}"/></c:otherwise>
					</c:choose>
				</jsp:attribute>
				<jsp:attribute name="desc">     <bib:desc publication="${post.resource}"/></jsp:attribute>
				<jsp:attribute name="actions">  <buttons:actions post="${post}" loginUserName="${command.context.loginUser.name}" disableResourceLinks="${false}" resourceType='bibtex'/></jsp:attribute>
				<jsp:attribute name="documents"><bib:documents post="${post}"/></jsp:attribute>
			</rc:post>
		</c:forEach>
	</c:if>

 </jsp:root>