<?xml version="1.0" ?>
<jsp:root version="2.0" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts">
<!-- 	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"> -->
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	<!--  
	<layout:paneLayout pageTitle="${command.pageTitle} error 500"  headerMessageKey="error.500" command="${command}" requPath="${requPath}">
	
	<jsp:attribute name="heading">
		<parts:search pathMessageKey="error"/>
	</jsp:attribute>
	
	<jsp:attribute name="content">
	</jsp:attribute>
	
	</layout:paneLayout>
	-->
</jsp:root>