<jsp:root version="2.0"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:jsp="http://java.sun.com/JSP/Page"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
  xmlns:export="urn:jsptagdir:/WEB-INF/tags/export/bibtex"
  xmlns:bib="urn:jsptagdir:/WEB-INF/tags/resources/bibtex"
  xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions">
  
  <jsp:directive.page contentType="application/xml; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" isELIgnored="false"/>  
  
  <export:rssSkeleton format="publrss">

    <jsp:attribute name="additionalItemMetadata">
      <c:if test="${not empty post.description}">
        <description>
          <c:out value="${mtl:removeInvalidXmlChars(post.description)}"/>
        </description>
      </c:if>
    </jsp:attribute>

    <jsp:attribute name="content">
      <c:set var="description">
        <bib:desc publication="${post.resource}"/>
      </c:set>
      <c:out value="${mtl:removeInvalidXmlChars(description)}"/>
    </jsp:attribute>
  
  </export:rssSkeleton>
  
</jsp:root>