<jsp:root version="2.0"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:jsp="http://java.sun.com/JSP/Page"
  xmlns:c="http://java.sun.com/jsp/jstl/core"
  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
  xmlns:spring="http://www.springframework.org/tags"
  xmlns:export="urn:jsptagdir:/WEB-INF/tags/export/bibtex"
  xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
  xmlns:bib="urn:jsptagdir:/WEB-INF/tags/resources/bibtex"
  xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
  xmlns:fn="http://java.sun.com/jsp/jstl/functions">
  
  <jsp:directive.page contentType="application/xml; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" isELIgnored="false"/>  
  
  <!--
    special RSS feed with modifications for Nepomuk project:
    - HTML-encoded content is contained in <description>, not in <content:encoded> element
  -->
  
  <spring:eval var="interHashId" expression="T(org.bibsonomy.common.enums.HashID).INTER_HASH.id" />
  
  <export:rssSkeleton format="publrssN">

    <jsp:attribute name="additionalItemMetadata">
      <description>
      <c:set var="description">
        <bib:desc publication="${post.resource}"/>
        <div class="abstract"><c:out value="${post.resource['abstract']}"/></div>
        <span>
          <rc:meta post="${post}" otherPostsUrlPrefix="/bibtex/${interHashId}" showTagsLabel="${true}"/>
        </span>
      </c:set>
      <c:out value="${description}"/>
      </description>
    </jsp:attribute>

    <jsp:attribute name="content"/>
  
  </export:rssSkeleton>
  
</jsp:root>