<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">

	<jsp:directive.page contentType="application/json; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	<!-- track, whether a comma has to be placed between list elements of different types -->
	<c:set var="isCommaNecessary" value="${false}"/>
	
	<spring:hasBindErrors name="command"> <!-- this tag is neccessary, otherwise errors is empty! -->
	{<c:if test="${not empty errors.globalErrors}">
		"globalErrors" : 
			[<c:forEach var="error" items="${errors.globalErrors}" varStatus="status">
				{
					<spring:message code="${error.code}" text="${error.defaultMessage}" arguments="${error.arguments}" var="globalErrorMessage"/>
					"message" : "${mtl:quoteJSON(globalErrorMessage)}"
				}<c:if test="${not status.last}">,</c:if>
			</c:forEach>]
		<c:set var="isCommaNecessary" value="${true}" />
	</c:if>
	<c:if test="${not empty errors.fieldErrors}">
		<c:if test="${isCommaNecessary }">,</c:if>
		"fieldErrors" : 
			[<c:forEach var="error" items="${errors.fieldErrors}" varStatus="status">
				{
					<spring:message code="${error.code}" text="${error.defaultMessage}" arguments="${error.arguments}" var="fieldErrorMessage" />
					"field" : "${mtl:quoteJSON(error.field)}",
					"message" : "${mtl:quoteJSON(fieldErrorMessage)}"
				}<c:if test="${not status.last}">,</c:if>
			</c:forEach>]
	</c:if>}
	</spring:hasBindErrors>
</jsp:root>