<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:buttons="urn:jsptagdir:/WEB-INF/tags/buttons"
	xmlns:editpub="urn:jsptagdir:/WEB-INF/tags/actions/edit/publication"
	xmlns:post="urn:jsptagdir:/WEB-INF/tags/post">


	<!--
		|
		| TODO:
		|   - Einblendung des existierenden Eintrages (bzw. des geposteten - der
		|     existierende wird editiert, der gepostete ist in "diffPost")
		|   - JavaScript zur Ausblendung optionaler Felder (siehe edit_bibtex.jsp)
	-->

	<c:set var="postOwner" value="${command.context.loginUser}" />
	<c:if test="${command.groupUser ne null and command.context.loginUser.name ne command.groupUser.name}">
		<c:set var="postOwner" value="${command.groupUser}" />
	</c:if>

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<layout:editPostLayout command="${command}" requPath="${requPath}" resourceType="Publication" activeTab="post" postOwner="${postOwner}">
		<jsp:attribute name="generalInformation">
			<c:if test="${not empty command.scrapingContext}">
				<c:if test="${not empty command.scrapingContext.selectedText}">
					<div class="form-group">
						<label class="col-sm-3 control-label"><fmt:message key="post.resource.fields.scraper.selectedText" /></label>
						<div class="col-sm-9">
							<textarea rows="2" class="form-control fsInput fsScraperSelectedText" readonly="readonly"><c:out value="${command.scrapingContext.selectedText}" /></textarea>
							<p class="help-block"><fmt:message key="post.resource.fields.scraper.selectedText.help" /></p>
						</div>
					</div>
					<hr />
				</c:if>
			</c:if>
			<c:if test="${command.person != null}">
				<input type="hidden" name="personId" value="${command.person.personId}"/>
			</c:if>
			<input type="hidden" name="personRole" value="${command.personRole}"/>

			<editpub:required post="${command.post}" personIndex="${command.personIndex}" person="${command.person}" />
		</jsp:attribute>

		<jsp:attribute name="detailedInformation">

			<editpub:files post="${command.post}" />

			<editpub:details post="${command.post}" person="${command.person}" />

			<c:if test="${not empty command.scrapingContext}">
				<c:if test="${not command.context.loginUser.settings.layoutSettings.simpleInterface}">
					<bsform:fieldset legendKey="post.resource.fields.scraper" >
						<jsp:attribute name="content">

					<div class="form-group">
					<label class="col-sm-3 control-label"><fmt:message key="post.resource.fields.scraper.url"/></label>

					<div class="col-sm-3">
						<p class="form-control-static">
							<span class="fsInput" style="background-color:#EEEEEE;">
								<a href="${fn:escapeXml(command.scrapingContext.url)}"><c:out value="${command.scrapingContext.url}"/></a>
							</span>
						</p>
					</div>
					</div>

					<c:if test="${not empty command.scrapingContext.selectedText}">
								<div class="form-group">
									<label class="col-sm-3 control-label"><fmt:message key="post.resource.fields.scraper.selectedText"/></label>
									<div class="col-sm-9">
									<textarea class="form-control" rows="5" disabled="disabled"><c:out value="${command.scrapingContext.selectedText}"/></textarea>
								</div>
							</div>
							</c:if>

							<div class="form-group">
								<label class="col-sm-3 control-label"><fmt:message key="post.resource.fields.scraper.scraper"/><!--  --></label>
								<div class="col-sm-9">
									<p class="form-control-static"><a href="${relativeUrlGenerator.getScraperInfoUrl(fn:escapeXml(command.scrapingContext.scraper['class'].simpleName))}"><c:out value="${command.scrapingContext.scraper['class'].simpleName}"/></a>: ${command.scrapingContext.scraper.info}</p>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label"><fmt:message key="post.resource.fields.scraper.result"/></label>
								<div class="col-sm-9">
									<textarea class="form-control" rows="5" disabled="disabled"><c:out value="${command.scrapingContext.bibtexResult}"/></textarea>
								</div>
							</div>

				</jsp:attribute>
			</bsform:fieldset>
		    </c:if>
		</c:if>
       </jsp:attribute>
	</layout:editPostLayout>
</jsp:root>
