<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:user="urn:jsptagdir:/WEB-INF/tags/actions/user"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bs"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="navi.oauth.authorization" var="oAuthTitle" />
	
	<layout:paneLayout command="${command}" pageTitle="${oAuthTitle}" requPath="${requPath}" headerMessageKey="navi.oauth.authorization">

		<!--+
			| page specific styling
			+-->
		<jsp:attribute name="headerExt">
			<style type="text/css">
				.oauthIcon {
					float: left;
					width: 100px;
				}
				.oauthMeta {
					margin-left: 100px;
				}
				.oauthTitle {
					font-weight: bold;
				}
				.oauthDescription {
					font-style: italic;
				}
			</style>
		</jsp:attribute>

		<!--+
			| heading 
			+-->
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.oauth.authorization" />
		</jsp:attribute>
		
		<!--+
			| content
			+-->
		<jsp:attribute name="content">
			<bs:alert style="info">
				<jsp:attribute name="alertBody">
					<p>
					<fmt:message key="oauth.denial.info">
						<fmt:param value="${command.appTitle}" />
						<fmt:param value="${properties['project.name']}" />
					</fmt:message>
					</p>
					<br/>
					<p>
					<a href="${command.callBackUrl}" class="btn btn-sm btn-primary" name="goBack" >
						<fmt:message key="oauth.denial.return">
							<fmt:param value="${command.appTitle}" />
						</fmt:message>
					</a>
					</p>
				</jsp:attribute>
			</bs:alert>
		</jsp:attribute>
	</layout:paneLayout>
</jsp:root>