.gadgets-gadget-chrome {
  float: left;
  margin: 4px;
  border: 1px solid #7aa5d6;
}

.gadgets-gadget {
  border: none;
}

.gadgets-gadget-title-bar {
  padding: 2px 4px;
  background-color: #e5ecf9;
}

.gadgets-gadget-title {
  font-weight: bold;
  color: #3366cc;
}

.gadgets-gadget-title-button-bar {
  font-size: smaller;
}

.gadgets-gadget-user-prefs-dialog {
  background-color: #e5ecf9;
}

.gadgets-gadget-user-prefs-dialog-action-bar {
  text-align: center;
  padding-bottom: 4px;
}

.gadgets-gadget-title-button {
}

.gadgets-gadget-content {
  padding: 4px;
}

.gadgets-log-entry {
}

/* Used to style messages produced during rewriting by CajaContentRewriter */
.gadgets-messages {
	
}
