.goldstandard-details {
  hr {
	margin-bottom: 0px;
  }

  .community-info {
	padding: 7px;
	margin-top: 1px;
	border-radius: 5px;
	font-size: 12px;

	&.warning {
	  background-color: @alert-warning-bg;
	}
  }

  .dl-horizontal dt { text-align: left; }


  .content-header-entrytype {

	margin-bottom: 0px;

	.community-approved {
	  padding-right: 5px;
	}

	.content-header-entrytype-badge {
	  display: inline;
	  font-size: 11px;
	  letter-spacing: 0.05em;
	  font-weight: bold;
	  color: #656565;
	  text-transform: uppercase;
	}
  }

  h1 {
	font-size: 2em;
	word-break: break-word;
	margin-top: 0;
	padding-right: 0;
	margin-bottom: 5px;
	line-height: 1.25;
  }

  h2 {
	font-size: 15px;
	margin-top: 5px;
	padding-right: 0;
	> span {
	  padding: 0px;
	}
  }

  #info h2 {
	padding: 0;
  }

  .additional-entrytype-information {
	color: #777;
  }

  .content-header-metric-buttons {
	margin-top: 22px;

	.content-header-additional-info-item {
	  .content-header-additional-info-description {
		font-size: 12px;
	  }
	  .content-header-additional-info-count {
		background-color:red;
		font-size:xx-small;
		position: absolute;
		padding:2px;
		top: 5px;
		left: 5px;
		border-radius: 25px;
	  }
	}

	.metric-info {
	  position: relative;
	  float: left;
	  width: 50px;
	  height: 52px;
	  font-size: 22px;
	  cursor: pointer;
	  color: #1d2939;

	  a {
		color: black;
	  }
	  span.fa {
		padding: 15px 15px 0px;
	  }
	  .badge {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		min-width: 10px;
		padding: 2px 7px;
		font-size: 12px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		background-color: #777;
		border-radius: 10px;
	  }
	}
  }

  .content-header-buttons {
	margin-top: 10px;
	a.btn {
	  margin-right: 10px;
	}
  }

  .goldstandard-content {
	h3 {
	  margin-top: 10px;
	  height: auto;
	}

	.goldstandard-metadata {
	  margin-top: 15px;
	}

	.tag-list .list-inline > li {
	  padding: 4px;
	}

	.discussion-toggle-link {
	  margin: 0 0 0 10px;
	}

	.discussion-all .media {
	  display: flex;
	  align-items: center;
	}
  }
  .sidebar {

	.sidebar-quick-cite-box {
	}

	.sidebar-links a {
	  margin: 0 5px 5px 0;
	}

	#sidebar-quick-cite-box-modal {
	  .modal-header {
		display: none;
	  }
	}
  }

  .taglist {
	text-align: left;
  }


  .tagcloud {
	li {
	  display: inline-block;
	  margin: 0em .3em .4em .3em;
	  line-height: 2em;
	  padding: 0;
	  font-size: 100%;
	}

	li.myown {
	  background-color: @light-grey;
	  padding: 1px 5px 1px 5px;
	  border-radius: 3px;
	}
  }

  .taglist {
	padding: 0;
	li {
	  display: inline-block;
	  margin: 0em .2em .4em .2em;
	  padding: .1em .4em;
	  border: 1px solid @main-color;
	  border-radius: .25em;
	  font-weight: bold;
	}
	li.myown {
	  background-color: @light-grey;
	}
  }

  .citation-box {
	margin-bottom: 50px;
  }

  .community-page-user-list {
	.thumbnail {
	  margin-bottom: 0px;
	  border-bottom: none;
	}

	.user-avatar {
	  max-width: 25px;
	  max-height: 25px;
	}

	li.user-card {
	  border: 1px solid #EEE;
	  margin-right: 10px;
	  padding-top: 10px;
	  width: 55px;
	  padding-bottom: 10px;
	  border-radius: 5px;
	  .btn {
		margin-top: 5px;
	  }
	}
  }

  #related-publications {
	.tab-content {
	  padding: 10px 0;

	  ul {
		padding-left: 0px;
		list-style: none;
	  }
	  li {
		margin-bottom: 10px;
		padding: 0 10px;
	  }

	  li:hover {
		background-color: #f5f5f5;
	  }
	}

	a.title {
	  padding-right: 4px;
	}

	.add-reference-link {
	  margin: 0 0 0 10px;
	}

	#admin-add-reference {
	  padding: 1px 20px 10px 20px;
	  background-color: #f5f5f5;
	  margin: 0 10px;
	}

	.deleteRelation {
	  float: right;
	  margin: 0 -10px 0 5px;
	}
  }
}