@border-dropdown: 1px solid @border-color;

#person-scroll-menu {
  .tt-menu {
    max-height: 250px;
    overflow-y: auto;
    cursor: pointer;
  }

  .tt-suggestion:nth-child(2n+1) {
    background-color: @gray-lighter;
    border-top: @border-dropdown;
    border-bottom: @border-dropdown;
  }

  .tt-suggestion:hover {
    background-color: @main-color-light;
  }

  .response {
    text-align: center;
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
  }

  .tooltip-inner {
    width: 300px;
    background-color: @main-color;
  }
}

.simplePub {
  border-top: @border-dropdown;
  div:nth-child(even) {
    background-color: @gray-lighter;
    border-top: @border-dropdown;
    border-bottom: @border-dropdown;
  }
}

#personPageAjaxError {
  display:none;
}

.page-header {
  margin-top: 0px;
}

.page-header .form-group {
  margin: 0;
}

.page-header .form-group input {
  width: auto;
  display: inline;
}

.page-header .form-group .personPageEnableForm {
  font-size: 14px;
}

.page-header .form-group .twitter-typeahead {
  display: inline !important;
}

h3.list-headline {
  min-height: 28px;
}

.person-search input.typeahead {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

img.person-image {
  max-width: 128px;
  max-height: 128px;
}

.personThesisEntry {
  margin: 0 0 5px 0;
}

.personPdesc {
  height: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;
}

.pub-person-tab-content .personThesisSeperator:last-of-type {
  display: none;
}

.personThesisSeperator {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid lightgrey;
}

#personPageAlternativeNameList .removeName {
  color: darkred;
  cursor: pointer;
}

.personPageVcardLeft {
  padding: 0;
  margin: 0;
}

.personPageVcardLeft > img {
  margin: 0 !important;
}

.personPageAdditionalRoleFields {
  display: none;
}

a.personPageShowAdditionalRoleFields {
  position: absolute;
  right: 5px;
  top: -13px;
}

.personPageAlternativeName {
  cursor: pointer;
}

.personPageAlternativeName:hover {
  text-decoration: underline;
}

.simplePubEntry:nth-child(2n)  {
  background-color: #f9f9f9;
}

.simplePubEntry {
  padding: 0 0 4px 0;
  border-bottom: 1px solid #eee;
  position: relative;

  .csl-left-margin {
    display: none;
  }

  .csl-right-inline {
    margin: 0;
  }

}

.simplePubEntry-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}


.simpleMatchEntry {
  padding: 0 0 4px 0;
  border-bottom: 1px solid #eee;
}

.simpleMatchEntry:nth-child(2n)  {
  background-color: #f9f9f9;
}

.subSimplePubEntry:nth-child(2n)  {
  background-color: #f9f9f9;
}

.firstSubSimplePubEntry {
  padding: 0 0 4px 16px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}

.subSimplePubEntry {
  padding: 0 0 4px 16px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.subSimplePubEntry:nth-last-child(1){
  border-bottom: none !important;
}

.simplePubFirstLine {
  width: 100%;
}

.simplePubFirstLinePaddingRight {
  padding: 0 80px 0 0;
}

.simplePubAuthorPaddingRight {
  display: inline-block;
  padding: 0 80px 0 0;
}

.simpleMatchFirstLine {
  width: 100%;
}

.simplePubTitle {
  font-weight: bold;
  display: inline-block;
  position: relative;
}

.clearflat {
  clear: both;
  padding: 0;
  margin: 0;
  height: 0;
}

.pubSort {
  cursor: pointer;
  color: inherit;
}

.pubSort:hover {
  color: #333;
}

.mergePersonLegend {
  position: absolute;
  bottom: 0;
}

.mergePersonLegendEntry {
  border-bottom: 1px solid #eee;
  padding: 4px 0 4px 0;
}

.mergePersonLegendEntry:nth-last-child(1) {
  border-bottom: none;
}

#organization-persons {

  div.row {
    margin-bottom: 20px;
    min-height: 70px;
  }

  img.media-object.img-thumbnail {
    max-width: 65px;
    max-height: 72px;
    border: none;
    padding: 0 0 0 10px;
  }
}

.person-nav-link {
  font-size: 32px;
  line-height: 12px;
}

a.person-nav-link:hover {
  text-decoration: none;
}


.person-content {
  padding-bottom: 20px;
}

.person-info {

  .person-icons {
    display: inline;
    padding: 0 5px;
    font-size: 25px;

    a {
      position: absolute;
      bottom: 15px;
    }
  }

  .person-buttons {
    float: right;
    padding: 5px 0;

    .btn {
      margin-left: 5px;
    }
  }

  .media {
    .media-left {
      padding-right: 30px;
    }
  }

  .person-property {
    padding: 2px;
  }
}

.person-publications {
  .simplePubEntry {
    line-height: 1.5em;
    padding: 5px;
    border: none;
  }

  .simplePubEntry:nth-child(even) {
    background-color: #eee;
    border-radius: 3px;
  }

  .simplePubEntrypesInfo {
    display: inline-block;
    color: #656565;
  }
}

#personContent {

  .sidebar {
    h4 {
      border: none;
    }

    .filter-list {
      .btn.active {
        background-color: @main-color-light;
      }

      .filter-entries {
        button {
          overflow: hidden;
          text-overflow: ellipsis;

          .filter-button-label {
            padding-right: 5px;
          }
        }
      }

      .show-more-link:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.edit-person-modal {
  .row {
    padding: 10px 0;
  }

  label {
    margin: 0;
  }

  .input-label {
    padding-top: 5px;
  }

  .reset-link {
    display: none;
    padding-top: 8px;
  }
}