<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:nav="urn:jsptagdir:/WEB-INF/tags/nav"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<c:set var="requestedAuthor" value="${command.requestedAuthor}" />
	<layout:resourceLayout pageTitle="${requestedAuthor} > ${command.requestedTags}"
		command="${command}"
		requPath="${requPath}"
		disableResourcetypeSelection="${true}">
		
		<jsp:attribute name="breadcrumbs">
			<nav:breadcrumbs>
				<jsp:attribute name="crumbs">
					<nav:authors />
					<nav:crumb name="${requestedAuthor}" href="${relativeUrlGenerator.getAuthorUrlByName(requestedAuthor)}" />
					<nav:tagcrumb requestedTags="${command.requestedTags}" active="${true}"/>
				</jsp:attribute>
			</nav:breadcrumbs>
		</jsp:attribute>
		
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.author" formAction="${relativeUrlGenerator.getAuthorUrlByName(requestedAuthor)}" formInputName="tag" formInputValue="${command.requestedTags}">
				<jsp:attribute name="pathPart">
					<span itemscope="itemscope" itemtype="http://schema.org/Person">
						<a href="${relativeUrlGenerator.getAuthorUrlByName(requestedAuthor)}" itemprop="name"><c:out value='${command.requestedAuthor}'/></a>
					</span>
				</jsp:attribute>
			</parts:search>
		</jsp:attribute>
		
		<jsp:attribute name="sidebar">
			<sidebar:relatedTagsItem requPath="${requPath}" cmd="${command.relatedTagCommand}" order="${command.sortKey}"/>
			<sidebar:sidebarTagCloudItem requPath="${mtl:getLowerPath(requPath)}" cmd="${command.tagcloud}" showTooltips="${command.context.loginUser.settings.tagboxTooltip}"/>
		</jsp:attribute>
	</layout:resourceLayout>
</jsp:root>