<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:nav="urn:jsptagdir:/WEB-INF/tags/nav"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<c:set var="requestedAuthor" value="${command.requestedAuthor}" />
	<layout:resourceLayout pageTitle="${requestedAuthor}" command="${command}" requPath="${requPath}" disableResourcetypeSelection="${true}">
		
		<jsp:attribute name="breadcrumbs">
			<nav:breadcrumbs>
				<jsp:attribute name="crumbs">
					<nav:authors />
					<nav:crumb name="${requestedAuthor}" active="true" />
				</jsp:attribute>
			</nav:breadcrumbs>
		</jsp:attribute>
		
		<jsp:attribute name="heading">
			<c:choose>
				<c:when test="${not empty command.scope and command.scope.name() ne 'LOCAL' and command.scope.name() ne 'SEARCHINDEX'}">
					<c:choose>
						<c:when test="${command.scope.name() eq 'FEDERATED_AUTHOR' }">
							<c:set var="pathMessageKey" value="navi.federatedAuthor"/>
							<c:set var="authorUrl" value="${relativeUrlGenerator.getAuthorUrlByName(requestedAuthor)}?scope=${command.scope.name()}"/>
						</c:when>
					</c:choose>
				</c:when>
				<c:otherwise>
					<c:set var="pathMessageKey" value="navi.author"/>
					<c:set var="authorUrl" value="${relativeUrlGenerator.getAuthorUrlByName(requestedAuthor)}"/>
				</c:otherwise>
			</c:choose>
			<parts:search scope="${command.scope}" pathMessageKey="${pathMessageKey}" formAction="${authorUrl}" formInputName="tag">
				<jsp:attribute name="pathPart">
					<span itemscope="itemscope" itemtype="http://schema.org/Person">
						<a href="${authorUrl}" itemprop="name"><c:out value='${requestedAuthor}'/></a>
					</span>
				</jsp:attribute>
			</parts:search>
		</jsp:attribute>
		
		<jsp:attribute name="sidebar">
			<sidebar:sidebarTagCloudItem requPath="${requPath}" cmd="${command.tagcloud}" showTooltips="${command.context.loginUser.settings.tagboxTooltip}" scope="${command.scope.name()}"/>
		</jsp:attribute>
	</layout:resourceLayout>
</jsp:root>