<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:users="urn:jsptagdir:/WEB-INF/tags/users"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:resource="urn:jsptagdir:/WEB-INF/tags/resources"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:spring="http://www.springframework.org/tags">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<c:set var="publication" value="${command.bibtex.list[0].resource}" />
	
	<c:set var="title" value="${mtl:cleanBibtex(publication.title)}" />
	
	<layout:paneLayout 
		pageTitle="${command.pageTitle}" 
		command="${command}" 
		headerMessageKey="navi.publication" 
		requestedUser="${command.requestedUser}" 
		requPath="${requPath}">
		
		<jsp:attribute name="headerExt">
			<link rel="stylesheet" type="text/css" href="${resdir}/css/goldstandards.css" />
		</jsp:attribute>
	
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.publication" formAction="/search" formInputName="search" formInputValue="${title}"/>
		</jsp:attribute>
		
		<jsp:attribute name="content">
			<c:forEach var="post" items="${command.bibtex.list}">
				<resource:authoragreement post="${post}" referer="${command.referer}"/>
			</c:forEach>
		</jsp:attribute>
		
	</layout:paneLayout>	

</jsp:root>