<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:export="urn:jsptagdir:/WEB-INF/tags/export/bibtex">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />	
	<style type="text/css">
		select, option { width: 100%; }
	</style>
	
	<export:formats />
</jsp:root>