<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<layout:paneLayout pageTitle="${command.pageTitle}" headerMessageKey="navi.reporting"  command="${command}" requPath="${requPath}">
	
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.reporting" formAction="/reporting/" formInputName="reporting"/>
		</jsp:attribute>
			
		<jsp:attribute name="content">
			<c:if test="${empty command.requestedGroup}">
				<div id="error" class="errmsg"><fmt:message key="reporting.group.error.nogroupgiven"/></div>
			</c:if>
			<c:if test="${not empty command.requestedGroup}">

				<h2>
					<fmt:message key="reporting.group.headline"/>&amp;nbsp;<c:out value="${command.requestedGroup}"/><br />
					<span style="color: black; font-size: 80%;"><fmt:message key="tags"/>:&amp;nbsp;<c:out value="${command.requestedTags}"/></span>
				</h2>
				
	
				<c:set var="transposeMatrix">
					<a href="?requestedGroup=${command.requestedGroup}&amp;transposeMatrix=${1-command.transposeMatrix}&amp;requestedTags=${command.requestedTags}" class="reportingTableHeaderDescription">(&amp;nbsp;)<sup>T</sup></a>
				</c:set>
				

				<fmt:message key="reporting.group.intro"/>
	
				<c:if test="${not empty command.publicationCounts and not empty command.publicationCounts.rowHeaders}">

					<c:if test="${empty command.transposeMatrix or command.transposeMatrix==0}">
						<table class="report">
							<tr>
								<th>${transposeMatrix}</th>
								<c:forEach var="columnHeader" items="${command.publicationCounts.columnHeaders}">
									<td class="header"><fmt:message key="reporting.publication.type.${columnHeader}"/></td>
								</c:forEach>
							</tr>
						<c:forEach var="rowHeader" items="${command.publicationCounts.rowHeaders}">
							<tr>			
								<td class="header"><c:out value="${rowHeader}"/></td>
								<c:forEach var="columnHeader" items="${command.publicationCounts.columnHeaders}">
									<td class="value">
										<c:if test="${not empty command.publicationCounts.values[rowHeader][columnHeader] and not (command.publicationCounts.values[rowHeader][columnHeader] == 0)}">
											<c:out value="${command.publicationCounts.values[rowHeader][columnHeader]}"/>
										</c:if>
									</td>
								</c:forEach>
							</tr>
						</c:forEach>
						</table>
					</c:if>

					<c:if test="${command.transposeMatrix==1}">
						<table class="report">
							<tr>
							<th>${transposeMatrix}</th>
							<c:forEach var="columnHeader" items="${command.publicationCounts.rowHeaders}">
								<td class="header"><c:out value="${columnHeader}"/></td>
							</c:forEach>
							</tr>
						<c:forEach var="rowHeader" items="${command.publicationCounts.columnHeaders}">
							<tr>
								<td class="header"><fmt:message key="reporting.publication.type.${rowHeader}"/></td>
								<c:forEach var="columnHeader" items="${command.publicationCounts.rowHeaders}">
										<td class="value">
										<c:if test="${not empty command.publicationCounts.values[columnHeader][rowHeader] and not (command.publicationCounts.values[columnHeader][rowHeader] == 0)}">
											<c:out value="${command.publicationCounts.values[columnHeader][rowHeader]}"/>
										</c:if>
										</td>
								</c:forEach>
							</tr>
						</c:forEach>
						</table>
					</c:if>

				</c:if>
				
				<c:if test="${empty command.publicationCounts or empty command.publicationCounts.rowHeaders}">
				<p>
				<fmt:message key="reporting.group.nodata"/>
				</p>
				</c:if>
				
			</c:if>
			
		</jsp:attribute>

	</layout:paneLayout>

</jsp:root>