<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:jspx="urn:jsptld:/WEB-INF/taglibs/jspx.tld"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:discussion="urn:jsptagdir:/WEB-INF/tags/resources/discussion"
	xmlns:gbook="urn:jsptagdir:/WEB-INF/tags/resources/goldstandardbookmark"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:resource="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:goldstandardbookmark="urn:jsptagdir:/WEB-INF/tags/resources/goldstandardbookmark"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:nav="urn:jsptagdir:/WEB-INF/tags/nav"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<!--+
		+ variables & messages
		+ -->
	<c:set var="goldstandardPresent" value="${not empty command.goldStandardBookmarks.list}" />
	<c:set var="bookmark" value="${command.bookmark.list[0].resource}" />
	<c:choose>
		<c:when test="${goldstandardPresent}">
			<c:set var="post" value="${command.goldStandardBookmarks.list[0]}" />
		</c:when>
		<c:otherwise>
			<c:set var="post" value="${command.bookmark.list[0]}" />
		</c:otherwise>
	</c:choose>
	
	<c:set var="bookmark" value="${post.resource}" />
	<c:set var="title" value="${bookmark.title}" />
	
	<c:set var="isPublic" value="${false}"/>
	<c:choose>
		<c:when test="${goldstandardPresent}">
			<c:set var="isPublic" value="${true }"/>
		</c:when>
		<c:otherwise>
			<c:forEach var="group" items="${command.bookmark.list[0].groups}">
				<c:if test="${group.name eq 'public'}">
					<c:set var="isPublic" value="${true}"/>
				</c:if>
			</c:forEach>
		</c:otherwise>
	</c:choose>

	<!--+
		+ main layout
		+ -->
	<layout:layout pageTitle="${title}" 
		requPath="${requPath}"
		loginUser="${command.context.loginUser}"
		noSidebar="${true}" >
		
		<!--+
			+ page heading
			+ -->
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.url" formAction="/url" formInputName="requUrl" formInputValue="${command.bookmark.list[0].resource.url}"/>
		</jsp:attribute>
		
		<!--+
			+ HTML header extension
			+ -->
		<jsp:attribute name="headerExt">
			<script type="text/javascript" src="${resdir}/javascript/merged/discussion.js"><!-- keep me --></script>
			<script type="text/javascript" src="${resdir}/javascript/goldstandards.js"><!-- keep me --></script>
		</jsp:attribute>
		
		<jsp:attribute name="breadcrumbs">
		</jsp:attribute>
		
		<!--+
			+ content heading
			+-->
		<jsp:attribute name="content">
			<goldstandardbookmark:details post="${post}" loginUser="${command.context.loginUser}" postOfLoggedInUser="${command.postOfLoggedInUser}" postUserName="${command.postOwner}" postIsPublic="${isPublic}"/>
		</jsp:attribute>
	</layout:layout>
</jsp:root>